{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <div class="game-list-container">
{% include "components/_dashboard_button.html.twig" %}
    <h1>Liste des films</h1>
    <table class="game-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>DateSortie</th>
                <th>ImagePath</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.synopsis }}</td>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d') : '' }}</td>
                <td>{{ film.imagePath }}</td>
                <td>{{ film.time }}</td>
                <td>
                    <div class="game-actions">
                        <a href="{{ path('app_film_show', {'id': film.id}) }}"class="view-link">Voir</a>
                        <a href="{{ path('app_film_edit', {'id': film.id}) }}"class="edit-link">Editer</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_film_new') }}"class="add-game-btn">Ajouter un film</a>
</div>
{% endblock %}
